body {
  background-color: rgb(247, 247, 247);
}

.login-container {
  min-height: 100vh;
  display: flex;
}

.ui.segment.full-height {
  min-height: calc(100vh - 140px);
}

.ui.breadcrumb.navigation-breadcrumb {
  width: 100%;
  margin-bottom: 2rem;
}
